@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    transition: all 0.6s ease;
    @apply py-7;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.navbar.shrink {
    transition: all.6s ease;
    height: 4.5rem;
    @apply py-4;

}

@media screen and (max-width:400px) {
    .nav {
        font-size: 16px;
        gap: 10px;
        height: 6rem;
    }

    .navbar.shrink {
        transition: all.6s ease;
        height: 9rem;
        @apply py-4;

    }
}

@media screen and (max-width:300px) {
    .nav {
        flex-direction: column;
        font-size: 16px;
        gap: 10px;
        height: 10rem;
    }

    .navbar.shrink {
        transition: all .6s ease;
        height: 10rem;
        @apply py-4;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
    }
}

.links {
    transition: all 0.3s ease;
}

.active {
    @apply bg-teal-500 rounded-lg p-3
}



.img:hover .layout {
    opacity: 1;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.layout {
    @apply absolute start-0 top-0 w-full h-full flex justify-center items-center bg-[#1abc9ce6] opacity-0 cursor-pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.model {
    z-index: 99999;
}